<% include ../partials/form_partials_header.ejs %>
<% include ../partials/navbar.ejs %>

  <div class="main">
      <!-- Sing in  Form -->
      <section class="sign-in">
          <div class="container">
              <div class="signin-content">
                  <div class="signin-image">
                      <figure><img src="/img/signin-image.jpg" alt="sing up image"></figure>
                  </div>

                  <div class="signin-form">
                      <h2 class="form-title" style="text-align:center;">Edit <%= campground.name %></h2>
                      <form method="POST" class="register-form" id="login-form" action="/campgrounds/<%= campground._id %>?_method=PUT">
                          <div class="form-group">
                              <label for="name"><i class="zmdi zmdi-labels"></i></label>
                              <input type="text" name="name" id="name" value="<%= campground.name %>" name="name" required/>
                          </div>
                          <div class="form-group">
                              <label for="state"><i class="zmdi zmdi-pin"></i></label>
                              <input type="text" name="state" id="state" value="<%= campground.state %>" name="state" required/>
                          </div>
                          <div class="form-group">
                              <label for="price"><i class="zmdi zmdi-money"></i></label>
                              <input type="number" name="price" id="price" value="<%= campground.price %>" name="price" min="0.01" step="0.01" required/>
                          </div>
                          <div class="form-group">
                              <label for="image"><i class="zmdi zmdi-image"></i></label>
                              <input type="text" name="image" id="image" value="<%= campground.image %>" name="image" required/>
                          </div>
                          <div class="form-group">
                              <label for="description"><i class="zmdi zmdi-info-outline"></i></label>
                              <input type="text" name="description" id="description" value="<%= campground.description %>" name="description" required/>
                          </div>
                          <div class="form-group form-button">
                              <input type="submit" id="signin" class="form-submit"/>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>

  </div>

  <% include ../partials/form_partials_footer.ejs %>
